<a href="https://colab.research.google.com/github/Slcrist229/case-studies/blob/main/top_10_JIM_BEAM_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a notebook of a case study I did in BigQuery as a new data analyst in order to practice my SQL skills. I used BigQuery Canvas and Colab for the first time on this project. I opted to use the public dataset on Iowa liquor sales. The objective I gave myself was to find the top 10 stores that sold the most Jim Beam products. The imagined client of mine, was Jim Beam. And the imagined goal was to find the highest producing stores in Iowa in order to test a new promotion on a new flavored whiskey product.

In [ ]:
# @title Inspect the schema of peppy-avatar-442117-g5.iowa_liquor_sales.iowa_liq_4
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('peppy-avatar-442117-g5.iowa_liquor_sales.iowa_liq_4')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))

After reviewing the Iowa liquor sales table in the public datasets, I downloaded only the most pertinent data columns into a new table which I used in all of my queries therafter. I then inspected the first 200 rows of each column to notice any errors or inconsistencies. I saw that the dates of sales ranged quite a bit. I queried the table to see the complete range of the dates.

In [ ]:

# @title Executes the query, using client from previous cell
sql_finding_years of data collected = '''#  find out the first date and the last date of the date column to see if I need all this data or I can filter out to the last few years of data.

SELECT
  MIN(date) AS first_date,
  MAX(date) AS last_date
FROM
  `peppy-avatar-442117-g5`.`iowa_liquor_sales`.`iowa_liq_2`;'''
query_finding_years of data collected = client.query(sql_finding_years of data collected)

# store the destination to reference in future cells
query_destination_finding_years of data collected = query_finding_years of data collected.destination.project + '.' + query_finding_years of data collected.destination.dataset_id + '.' + query_finding_years of data collected.destination.table_id

#  Render the query results
job_finding_years of data collected= client.get_job(query_finding_years of data collected.job_id)
df_finding_years of data collected = job_finding_years of data collected.to_dataframe()
df_finding_years of data collected

The date range was beyond the desired 5 years. I needed to filter out the years that were not applicable to the client's desires.

In [ ]:

# @title Executes the query, using client from previous cell
sql_Filtering_dates = '''#filter out only dates with years between 2020 and 2025 , because we only need to analyze 5 years worth of sales for Jim Beam.

SELECT
  *
FROM
  `peppy-avatar-442117-g5`.`iowa_liquor_sales`.`iowa_liq_2`
WHERE
  EXTRACT(YEAR
  FROM
    date) BETWEEN 2020
  AND 2025;'''
query_Filtering_dates = client.query(sql_Filtering_dates)

# store the destination to reference in future cells
query_destination_Filtering_dates = query_Filtering_dates.destination.project + '.' + query_Filtering_dates.destination.dataset_id + '.' + query_Filtering_dates.destination.table_id

#  Render the query results
job_Filtering_dates= client.get_job(query_Filtering_dates.job_id)
df_Filtering_dates = job_Filtering_dates.to_dataframe()
df_Filtering_dates

After filtering the dates, I continued reviewing the data in each column. I noticed that there were some zipcodes that did not fit the common zipcode format. So I corrected this problem by taking off the decimal points included in some zipcodes.

In [ ]:
# @title Setup bigquery client and formatting
from google.cloud import bigquery
from google.colab import data_table

project = 'peppy-avatar-442117-g5' # Project ID
client = bigquery.Client(project=project)
data_table.enable_dataframe_formatter()
# @title Executes the query, using client from previous cell
sql_fixing_zipcode = '''# limit zipcode column to 5 characters only while keeping other columns

SELECT
  invoice_and_item_number,
  date,
  store_number,
  store_name,
  store_location,
  city,
  SUBSTR(zip_code, 1, 5) AS zip_code_5,
  store_location_1,
  county,
  category_name,
  vendor_name,
  item_description,
  pack,
  sale_dollars
FROM
  `peppy-avatar-442117-g5`.`iowa_liquor_sales`.`iowa_liq_4`
'''
query_fixing_zipcode = client.query(sql_fixing_zipcode)

# store the destination to reference in future cells
query_destination_fixing_zipcode = query_fixing_zipcode.destination.project + '.' + query_fixing_zipcode.destination.dataset_id + '.' + query_fixing_zipcode.destination.table_id

#  Render the query results
job_fixing_zipcode= client.get_job(query_fixing_zipcode.job_id)
df_fixing_zipcode = job_fixing_zipcode.to_dataframe()
df_fixing_zipcode

After fixing the zipcodes, I reviewed all other data columns and considered them satifactory. I needed no additional "cleaning" to be done. I then filtered the table to only include Jim Bean sales and no other vendors.

In [ ]:

# @title Executes the query, using client from previous cell
sql_filtering_Jim Beam = '''# Filter the vendor name column to only JIM BEAM BRANDS

SELECT
  *
FROM
  `fixing zipcode` AS t1
WHERE
  t1.vendor_name = 'JIM BEAM BRANDS';'''
query_filtering_Jim Beam = client.query(sql_filtering_Jim Beam)

# store the destination to reference in future cells
query_destination_filtering_Jim Beam = query_filtering_Jim Beam.destination.project + '.' + query_filtering_Jim Beam.destination.dataset_id + '.' + query_filtering_Jim Beam.destination.table_id

#  Render the query results
job_filtering_Jim Beam= client.get_job(query_filtering_Jim Beam.job_id)
df_filtering_Jim Beam = job_filtering_Jim Beam.to_dataframe()
df_filtering_Jim Beam

After obtaining a table with only the Jim Beam sales, I noticed that there were multiple sales recorded for each store. I had to total the sales for each distinct store.

In [ ]:

# @title Executes the query, using client from previous cell
sql_total_sales for distinct store number = '''#total sales for each distinct store number

SELECT
  t1.store_number,
  SUM(t1.sale_dollars) AS total_sales
FROM
  `filtering Jim Beam` AS t1
GROUP BY
  1;'''
query_total_sales for distinct store number = client.query(sql_total_sales for distinct store number)

# store the destination to reference in future cells
query_destination_total_sales for distinct store number = query_total_sales for distinct store number.destination.project + '.' + query_total_sales for distinct store number.destination.dataset_id + '.' + query_total_sales for distinct store number.destination.table_id

#  Render the query results
job_total_sales for distinct store number= client.get_job(query_total_sales for distinct store number.job_id)
df_total_sales for distinct store number = job_total_sales for distinct store number.to_dataframe()
df_total_sales for distinct store number

I wanted to double check that I got all stores in my sales totals, and that there wasn't any errors. So I ran a count on all the distinct store numbers and compared it to the total sales results. Luckily, it was the same count.

In [ ]:

# @title Executes the query, using client from previous cell
sql_Counting_distinct store numbers = '''# How many distinct store numbers are there in this table

SELECT
  COUNT(DISTINCT store_number)
FROM
  `filtering Jim Beam`;'''
query_Counting_distinct store numbers = client.query(sql_Counting_distinct store numbers)

# store the destination to reference in future cells
query_destination_Counting_distinct store numbers = query_Counting_distinct store numbers.destination.project + '.' + query_Counting_distinct store numbers.destination.dataset_id + '.' + query_Counting_distinct store numbers.destination.table_id

#  Render the query results
job_Counting_distinct store numbers= client.get_job(query_Counting_distinct store numbers.job_id)
df_Counting_distinct store numbers = job_Counting_distinct store numbers.to_dataframe()
df_Counting_distinct store numbers

I then wanted to create a table that included all of the data columns, including the total sales for each store. So I joined the results of my query on total sales to the table that filtered out the Jim Beam vendor only. The result was a table that included that total sales column with all other data columns.

In [ ]:

# @title Executes the query, using client from previous cell
sql_joining_tables in order to get full column table = '''# Joining tables to include total sales per store number

SELECT
  t1.store_location,
  t1.zip_code_5,
  t1.vendor_name,
  t1.pack,
  t1.store_name,
  t1.date,
  t1.item_description,
  t1.city,
  t1.category_name,
  t1.store_number,
  t2.total_sales
FROM
  `filtering Jim Beam` AS t1
INNER JOIN
  `total sales for distinct store number` AS t2
ON
  t1.store_number = t2.store_number;'''
query_joining_tables in order to get full column table = client.query(sql_joining_tables in order to get full column table)

# store the destination to reference in future cells
query_destination_joining_tables in order to get full column table = query_joining_tables in order to get full column table.destination.project + '.' + query_joining_tables in order to get full column table.destination.dataset_id + '.' + query_joining_tables in order to get full column table.destination.table_id

#  Render the query results
job_joining_tables in order to get full column table= client.get_job(query_joining_tables in order to get full column table.job_id)
df_joining_tables in order to get full column table = job_joining_tables in order to get full column table.to_dataframe()
df_joining_tables in order to get full column table

Finally, I used the resulting table to find the top 10 stores from Iowa that sold the most Jim Beam products.

In [ ]:

# @title Executes the query, using client from previous cell
sql_top_10 = '''##getting the top 10 producing stores for Jim Beam

SELECT DISTINCT store_number, total_sales,city,store_name, zip_code_5
FROM `joining tables in order to get full column table` AS t1
ORDER BY total_sales DESC
LIMIT 10'''
query_top_10 = client.query(sql_top_10)

# store the destination to reference in future cells
query_destination_top_10 = query_top_10.destination.project + '.' + query_top_10.destination.dataset_id + '.' + query_top_10.destination.table_id

#  Render the query results
job_top_10= client.get_job(query_top_10.job_id)
df_top_10 = job_top_10.to_dataframe()
df_top_10